/* TimelineCustom.css */
.customized-timeline .p-card {
  font-size: 14px;
}

.customized-timeline .p-card .p-card-title {
  font-size: 14px;
  font-weight: 600;
}

.customized-timeline .p-card .p-card-subtitle {
  font-size: 13px;
  color: #888;
}

.customized-timeline .p-button {
  font-size: 13px;
}

.p-timeline-event-opposite {
  display: none !important;
}
