.customized-timeline {
  .p-card {
    font-size: 14px;

    .p-card-title {
      font-size: 14px;
      font-weight: 600;
    }

    .p-card-subtitle {
      font-size: 13px;
      color: #888;
    }
  }

  .p-button {
    font-size: 13px;
  }
}

.p-timeline-event-opposite {
  display: none !important;
}